<div class="table-wrapper scroll">
	<table class="responsive">
	    <thead>
	        <tr>
	            <th>Date</th>
	            <th colspan="2">Door</th>
	            <th>Sound</th>
	            <th colspan="2">Modern Jive</th>
	            <th colspan="2">Latin</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for night in roster.nights %}
	        <tr>
	        	<td>{{ night.night.class_date.date|date("D, d-m") }}</td>
	        	<td>{{ night.door_1.display_name }}</td>
	        	<td>{{ night.door_2.display_name }}</td>
	        	<td>{{ night.sound_1.display_name }}</td>
	        	<td>{{ night.mj_1.display_name }}</td>
	        	<td>{{ night.mj_2.display_name }}</td>
	        	<td>{{ night.latin_1.display_name }}</td>
	        	<td>{{ night.latin_2.display_name }}</td>
	        </tr>
	    	{% endfor %}
	    </tbody>
	</table>
</div>

<h3>Revisions</h3>
<div class="table-wrapper">
	<table class="responsive">
		<thead>
			<tr>
				<th>Date</th>
				<th>Edited By</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			{% for version in roster.versions|reverse %}
			<tr>
				<td>{{ version.model.updated_at|date("Y-m-d h:ia") }}</td>
				<td>{{ version.model.updated_by.display_name }}</td>
				<td class="wide">{{ version.model.commit_message }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>