{% extends layout('default') %}

{% block content %}
	<div>
		<div class="card">
			<h2 class="card-title">Roster Archive</h2>
			<ul class="clean table">
				{% for entry in rosters %}
				<li {% if (roster.date == entry.date) %}class="current"{% endif %}>
					<a
						href="/roster/{{ entry.slug }}"
						title="{{ entry.name }} Roster">
						{{ entry.name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div>
		<h1>{{ roster.name }} Roster</h1>
		{% include "finnito.module.rosters::roster_table" %}
	</div>
{% endblock %}
