<div class="row">
    <div class="column sm">
        {{ form.fields.night|raw }}
    </div>
    <div class="column">
        <div class="row">
            <div class="column">
                {{ form.fields.door_1.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.door_2.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.sound_1.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.mj_1.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.mj_2.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.latin_1.setPlaceholder("Select..")|raw }}
            </div>
            <div class="column">
                {{ form.fields.latin_2.setPlaceholder("Select..")|raw }}
            </div>
        </div>
    </div>
</div>
