<div class="card">
	<div class="card-block">
		<div class="row field-group">
			<div class="column">
				{{ form.fields.name.setPlaceholder("e.g. Term 4, 2018")|raw }}
				{{ form.fields.year|raw }}
				<div class="hidden">
					{{ form.fields.slug|raw }}
				</div>
			</div>
			<div class="column">
				{{ form.fields.commit_message.setPlaceholder("e.g. Swapped person x for person y on 19/09")|raw }}
			</div>
		</div>
		<div class="row field-group">
			{{ form.fields.nights|raw }}
		</div>
	</div>
</div>