.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;

	margin: 0;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.row.field-group > .column:not(:last-child) {
	margin-right: 1rem;
}

.column.hidden {
	display: none;
}

.column > .row {
	margin-bottom: 0.5rem;
}

.column > .row:last-child {
	margin-bottom: 0;
}

.row > div {
	flex-grow: 1;
	padding-right: 0;
	width: 100%;
	/*align-self: center;*/
}

.row > div.column.sm {
	/*flex-shrink: 10;*/
	/*margin-right: 1rem;*/
	max-width: 13rem;
	align-self: center;
}

.row > div:last-child {
	padding-right: 0;
}

.row > div .form-group {
	width: 100%;
}

.row .form-group {
	margin-bottom: 1rem;
}

.row .form-group .text-muted {
	margin-bottom: .5rem;
	margin-top: -.75rem;
	font-size: .8rem;
}

.repeater-field_type .repeater-container .repeater-list {
	margin-bottom: 1rem;
}

.repeater-field_type .repeater-container .repeater-list .repeater-item {
	margin: 0;
	display: flex;
	flex-direction: row;
}

.repeater-field_type .repeater-container .repeater-list .repeater-item .repeater-body {
	flex-grow: 1;
	padding: 0;
}

.repeater-field_type .repeater-container .repeater-list .repeater-item .repeater-item-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0.25rem;
	width: 4rem;
}

.repeater-field_type .repeater-container .repeater-item:nth-child(even) {
	/*background-color: #c8c8c8;*/
}

.repeater-field_type .repeater-container .repeater-item:first-child label {
	margin: 0.25rem;
}

.repeater-field_type .repeater-container .repeater-item:not(:first-child) label {
	display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
	display: none;
}

.choices__list--dropdown .choices__item--selectable {
	padding-right: 0;
}

.choices__list.choices__list--dropdown.is-active {
	z-index: 999999;
}

.relationship-field_type .input-wrapper,
.relationship-field_type table tbody tr {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.relationship-field_type .selected .panel-table table tr td:first-of-type {
	width: auto;
}

.relationship-field_type .choices {
	width: 100%;
}

div.relationship-field_type .selected table tr td:last-of-type {
	padding-left: 0;
}

.relationship-field_type .input-wrapper div.selected {
	margin: 0;
	width: 100%;
}

.relationship-field_type a.btn.btn-xs,
.relationship-field_type a.btn.btn-sm.btn-danger  {
	font-size: 0;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.relationship-field_type a.btn.btn-xs i,
.relationship-field_type a.btn.btn-sm.btn-danger i {
	font-size: 1rem;
}

.repeater-field_type .repeater-container .repeater-item .repeater-item-controls ul:first-child {
	display: none;
}

.repeater-field_type .repeater-container .repeater-item .repeater-item-controls ul .list-inline-item {
	margin: 0;
}

.relationship-field_type .fa {
	font-size: 12px;
}

/*.repeater-field_type .repeater-container .repeater-item div.choices__inner {
	height: 2rem;
	min-height: 2rem;
}*/

.choices__inner .choices__list .choices__item {
	/*width: 5rem;*/
}

.choices__list .choices__item {
	white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 1px);
  overflow-x: hidden;
}

/*$doorColour: #FFEEEE;
$soundColour: #C7DBEB;
$mjColour: #EEFFEE;
$latinColour: #EEEEFF;*/

.repeater-body .row .column .row .column:nth-child(1),
.repeater-body .row .column .row .column:nth-child(1) .choices__inner,
.repeater-body .row .column .row .column:nth-child(2),
.repeater-body .row .column .row .column:nth-child(2) .choices__inner {
	background-color: #FFEEEE;
}

.repeater-body .row .column .row .column:nth-child(3),
.repeater-body .row .column .row .column:nth-child(3) .choices__inner {
	background-color: #C7DBEB;
}

.repeater-body .row .column .row .column:nth-child(4),
.repeater-body .row .column .row .column:nth-child(4) .choices__inner,
.repeater-body .row .column .row .column:nth-child(5),
.repeater-body .row .column .row .column:nth-child(5) .choices__inner {
	background-color: #EEFFEE;
}

.repeater-body .row .column .row .column:nth-child(6),
.repeater-body .row .column .row .column:nth-child(6) .choices__inner,
.repeater-body .row .column .row .column:nth-child(7),
.repeater-body .row .column .row .column:nth-child(7) .choices__inner {
	background-color: #EEEEFF;
}